<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
    </Found>
    <NotFound>
        <Layout>
            <Main>
                <p>Sorry, there's nothing at this address.</p>
            </Main>
        </Layout>
    </NotFound>
</Router>
